# 0. Loading Libraries

In [25]:
#loading libraries
# pd.reset_option('max_rows')
# pd.reset_option('max_columns')
#tweaks
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import matplotlib.pyplot as plt
import plotly_express as px
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
from matplotlib import rcParams # special matplotlib argument for improved plots
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('precision', 5)
import seaborn as sns #sets up styles and gives us more plotting options
sns.set_style('whitegrid')
sns.set_context("poster")

# Standard plotly imports
import chart_studio.plotly as py
from plotly import tools
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
# Using plotly + cufflinks in offline mode
init_notebook_mode(connected=True)

#statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

#sklearn
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score, f1_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.feature_selection import RFE #recursive feature selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn import svm
import time

In [29]:
fars_accidents_18 = pd.read_csv('data/FARS2018NationalCSV/ACCIDENT.csv')

# ETL

In [30]:
fars_accidents_18.columns = fars_accidents_18.columns.str.lower()
fars_accidents_18['date'] = pd.to_datetime(fars_accidents_18[['day', 'month', 'year', 'hour', 'minute']])
fars_accidents_18 = fars_accidents_18.sort_values('date').reset_index(drop = True)

In [31]:
fars_accidents_18

       state  st_case  ve_total  ve_forms  pvh_invl  peds  pernotmvit  permvit  persons  county  city  day  month  year  day_week  hour  minute  nhs  rur_urb  func_sys  rd_owner  route                 tway_id tway_id2  milept  latitude  longitud  sp_jur  harm_ev  man_coll  reljct1  reljct2  typ_int  wrk_zone  rel_road  lgt_cond  weather1  weather2  weather  sch_bus     rail  not_hour  not_min  arr_hour  arr_min  hosp_hr  hosp_mn  cf1  cf2  cf3  fatals  drunk_dr                date
0         12   120156         1         1         0     0           0        1        1      69     0    1      1  2018         2     0      15    0        2         5         1      4                  CR-561      NaN   99998  28.62041  -81.7602       0       31         0        0        1        1         0         5         2         1         0        1        0  0000000        99       99        99       99       88       88    0    0    0       1         1 2018-01-01 00:15:00
1         31   310001         2         2         0     0           0        2        2      55  3620    1      1  2018         2     0      20    1        2         2         1      2                   US-75      NaN     866  41.20773  -95.9491       0       12         1        0        1        1         0         1         3        10         0       10        0  0000000         0       21         0       27        0       49    0    0    0       1         1 2018-01-01 00:20:00
2         48   480010         1         1         0     0           0        1        1     183  4080    1      1  2018         2     0      22    1        2         3        98      8        FM2208 ALPINE RD  PAGE RD      15  32.51770  -94.7086       0       42         0        0        3        3         0         5         2         1         0        1        0  0000000        99       98        99       98       88       88    0    0    0       1         1 2018-01-01 00:22:00
3         48   480006         2         2         0     0           0        2        2     113  1730    1      1  2018         2     0      30    1        2         1         1      1   I-35E RL THORNTON FWY      NaN      69  32.64718  -96.8232       0       12         2        0        1        1         0         1         6         1         0        1        0  0000000        99       99        99       99       99       99    0    0    0       2         1 2018-01-01 00:30:00
4         42   420095         1         1         0     0           0        1        1      69  7460    1      1  2018         2     0      49    1        2         3         1      3        SR-3016 DAVIS ST      NaN       4  41.38231  -75.7011       0       30         0        0        1        1         0         4         3        98         0       98        0  0000000         0       49         0       52        1       16    0    0    0       1         1 2018-01-01 00:49:00
...      ...      ...       ...       ...       ...   ...         ...      ...      ...     ...   ...  ...    ...   ...       ...   ...     ...  ...      ...       ...       ...    ...                     ...      ...     ...       ...       ...     ...      ...       ...      ...      ...      ...       ...       ...       ...       ...       ...      ...      ...      ...       ...      ...       ...      ...      ...      ...  ...  ...  ...     ...       ...                 ...
33649     39   391029         2         2         0     0           0        4        4     151  1320   31     12  2018         2    23      37    1        2         2         1      3                   SR-62      NaN     238  40.82875  -81.3701       0       12         2        0        1        1         0         1         3         2         0        2        0  0000000        23       37        23       49       23       56    0    0    0       1         1 2018-12-31 23:37:00
33650      6    62525         1         1         0     0           0        1        1      19     0   28     12  2018         6    99      99    0        1         7        98      4  CR-COALINGA MENDOTA RD      NaN       0  36.38759 -120.3590       0       42         0        0        1        1         0         4         2         1         0        1        0  0000000        99       99        99       99       88       88    0    0    0       1         1 2019-01-01 04:39:00
33651     47   470981         1         1         0     1           1        1        1     149  2250   29     12  2018         7    99      99    1        2         1         1      1                    I-24      NaN      59  35.94440  -86.5432       0        8         0        0        1        1         0         1         2        10         0       10        0  0000000        99       99        99       99       99       99    0    0    0       1         0 2019-01-02 04:39:00
33652      4    40923         1         1         0     1           1        1        1      13   370   29     12  2018         7    99      99    0        2         3         4      6                35TH AVE      NaN       0  33.46172 -112.1350       0        8         0        0        1        1         0         3         9        99         0       99        0  0000000        88       88        88       88       88       88   99   99   99       1         0 2019-01-02 04:39:00
33653     20   200372         1         1         0     0           0        1        1     103  3020   29     12  2018         7    99      99    0        2         7         4      6          LEAVENWORTH RD      NaN       0  99.99990  999.9999       0       99        99        9       99       99         0        99         9        99         0       99        0  0000000        88       88        88       88       88       88    0    0    0       1         0 2019-01-02 04:39:00

[33654 rows x 53 columns]